<div class = "anime_card" onclick="toggleCard(this)">
    <a href = "" title = "{{title}}">
        <img src = "" alt = "{{title}}" class = "anime_card_img">
    </a>
    <h3>{{title}}</h3>
    <div class = "anime_card_overlay">{{title}}</div>
    <div class = "anime_card_details">
        <p>episodes: "{{episodes}}"</p>
        <p>Dropped: </p>
        <p>Planned to watch: </p>
    </div>
</div>


