<div class = "catalog_container">
    <div id = "mainLeftSide"></div>
    <div id = "mainCatalog" class = "catalog"></div>
    <div id = "mainRightSide"></div>
    <div></div>
    <button id = "btnLoadMore">boh</button>
</div>

<script id="anime_card_template" type="text/x-handlebars-template">
    <div class = "anime_card" data-id = "\{{id}}"
                              data-title = "\{{title}}"
                              data-statsloaded = "false">
        <a  title = "\{{title}}">
            <img src = "\{{imageUrl}}" alt = "\{{title}}" class = "anime_card_img">
            <div class = "anime_card_overlay">\{{title}}</div>
        </a>
        <div class = "anime_card_details">
            <p>Id: \{{id}}</p>
            <p>Rank: \{{rank}}</p>
            <p>Year: \{{year}}</p>
            <p>Genres: \{{genres}}</p>
            <p>Themes: \{{themes}}</p>
            <p>Score: \{{score}}</p>
            <p>Episodes: \{{episodes}}</p>
            <p>Producers: \{{producers}}</p>
            <p>Source: \{{source}}</p>
            <p>Type: \{{type}}</p>
            <p>Status: \{{status}}</p>
            <p>Favourites: \{{favorites}}</p>
        </div>

        <div class = "stats_container">Loading stats...</div>

    </div>
</script>