<div id = "personalCatalogContainer" class = "catalog_container hidden">
    <div id = "personalLeftSide"></div>
    <div id = "personalCatalog" class = "catalog">Loading User Ratings...</div>
    <div id = "personalRightSide"></div>
</div>

<div id = "mainCatalogContainer" class = "">
    <div class = "catalog_container">
        <div ></div>
        <div class = "main_catalog_header">
            {{> catalog_filter}}
        </div>
        <div ></div>
    </div>
    <div class = "catalog_container">
        <div id = "mainLeftSide"></div>
        <div id = "mainCatalog" class = "catalog"></div>
        <div id = "mainRightSide"></div>
        <div></div>
        <button id = "btnLoadMore">Load More...</button>
    </div>
</div>





<script id="anime_card_template" type="text/x-handlebars-template">
    <div class = "anime_card" data-id = "\{{id}}"
                              data-title = "\{{title}}"
                              data-statsloaded = "false"
                              data-voicesloaded = "false">
        <a  title = "\{{title}}">
            <img src = "\{{imageUrl}}" alt = "\{{title}}" class = "anime_card_img">
            <div class = "anime_card_overlay">\{{title}}</div>
        </a>
        <div class = "anime_card_details">
            <p>Id: \{{id}}</p>
            <p>Episodes: \{{episodes}}</p>
            <p>Year: \{{year}}</p>
            <p>Rank: \{{rank}}</p>
            <p>Popularity: \{{popularity}}</p>
            <p>Favourites: \{{favorites}}</p>
            <p>Status: \{{status}}</p>
            <p>Genres: \{{genres}}</p>
            <p>Themes: \{{themes}}</p>
            <p>Score: \{{score}}</p>
            <p>Scored by: \{{scored_by}}</p>
            <p>Producers: \{{producers}}</p>
            <p>Source: \{{source}}</p>
            <p>Type: \{{type}}</p>
            <p>Rating: \{{rating}}</p>
        </div>

        <div id = "anime_card_stats" class = "anime_card_details">Loading stats...</div>

        <div id = "anime_card_voices" class = "anime_card_details">Loading voices...</div>

        <div id = "anime_card_ratings" class = "anime_card_details hidden">Loading ratings...</div>

    </div>
</script>